* {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}


input {
  border-radius: 4px;
  text-transform: uppercase;
}

.busca_rapida {
    background-image: url(../imagens/search.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 5px;
    background-origin: content-box;
}

.mdl-layout__content {
  background-color: #F1F1F1;
}

body {
  margin-top: -15px !important;
}

td {
  color: black !important;
}

.dataTables_filter{
  margin-bottom: 10px;
  color: black !important;
}

strong {
  font-size: 20px;
  color: #118049 !important;
}

.tituloTela {
  border-bottom-style: solid; 
  border-bottom-width: 2px; 
  border-bottom-color: white;
  font-size: 40px;
  margin-top: 80px;
  margin-left: 15px;
  color: #118049 !important;
}

.tituloTela img {
  margin-top: 4px;
  width: 20px;
}

.tituloTelaComFiltro {
  font-size: 15px;
  margin-top: 40px;
  margin-left: 15px;
}

.tituloTelaComFiltro > strong {
  font-size: 25px !important;;
}

.tituloTelaComFiltro > .filtro {
  background-color: #E7E6E5;
  margin-right: 15px;
}

#filtro, #exportar {
  margin-top: 10px;
}

.filtro > .mdl-cell {
  color: black !important;
}


.tituloTela > strong {
  margin-top: 50px;
  margin-left: 15px;
}

.label {
    float: left;
    font-size: 12px;
}

#validar_Enviar {

  bottom: 10px;
  left: 260px;
  position:fixed;
    
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #118049  !important;
}

form {
  background-color: #E7E6E5 !important;
  margin: 10px;
  color: black !important;
}

.mdl-navigation__link {
  background-color: #808080 !important;
  color: white !important;
  font-size: 20px !important;
}

.mdl-layout__header-row {
  background-color: #2196f3 !important;
}

.mdl-layout__header-row {
  color: rgb(255,255,255);
}

.divFundoBranco{
  background-color: white;
  border-radius: 10px;
  height: 140px;
  width: 160px;
  margin-bottom: 10px;
}

.mascara_data {
  color: black !important;
}


.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.textoEscuro{
  color: black;
}

input {
  background-color: white !important;
  color: black !important;
}

textarea {
  background-color: white !important;
  color: black !important; 
}

.mdl-textfield__label {
  color: white !important;
}

table {
  text-transform: uppercase;
}

#rodapeMenu {
  background-color: red;
  bottom: 0px;
  margin-bottom: 0px;
  position: fixed;
  font-size: 20px;
  width: 100%;
  height:25px;
  padding-top: 10px;
  color: white !important;
}

.menuLateral{
  width: 200px;
  height: 30px;
  font-size: 16px;
  padding-top: 10px;
  border-radius: 5px;
  margin: 5px;
  background-color: #808080;
  color: white !important;
}

.selecionado{
  background-color: #118049 !important;
}

.paginate_button {
  color: white !important;
}


/*Corpo*/
#corpo {

  border-style: solid;
  border-width: 1px;
	border-color: #000;
	box-shadow: 2px 2px 1px #000;
  min-height: 380px;
  background-color: white;
  opacity: 0.85;	
  overflow: auto;

  position: relative;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
	margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
	transition: 1s;

}

#corpo:hover {
    transition: 0.5s;
    box-shadow: 2px 2px 1px #00BFFF;
    opacity: 1;
}

@media (min-width: 768px) {
  #corpo {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #corpo {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #corpo {
    width: 80%;
  }
}

.dadosTitulo {
  text-transform: uppercase;
}

.mdl-button {
  color: white !important;
}

/*Corpo*/

/*Footer*/
footer {
  position: relative; 
  bottom: 0; 
  width: 100%;
}
/*Footer*/

.sucesso {
  background-color: #118049;
}

.desabilitado{
  background-color: #C0C0C0;
}

.alerta{
  background-color: #FFFF00;
  color: black !important;
}

.falha{
  background-color: #C1272D;
}

/*Formatação do popup de erro*/
.erro-card-wide.mdl-card {
  margin-left: 10px;
  width: 400px;
  position: absolute;
  opacity: 0.9;
  z-index: 100;
  transition: 0.5s;

    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
    animation-duration: 500ms;

}

.erro-card-wide.mdl-card:hover {

  opacity: 1;
  transition: 0.5s;

}

.erro-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: #FF6347;
}

.erro-card-wide > .mdl-card__menu {
  color: #fff;
}

/*Formatação do popup de erro*/

/*Formatação do popup de Aviso*/

.aviso-card-wide.mdl-card {
  margin-left: 10px;
  width: 400px;
  position: absolute;
  opacity: 0.9;
  z-index: 100;
  transition: 0.5s;

}

.aviso-card-wide.mdl-card:hover {

  opacity: 1;
  transition: 0.5s;

}

.aviso-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: #DAA520;
}

.aviso-card-wide > .mdl-card__menu {
  color: #fff;
}

/*Formatação do popup de Aviso*/

/*Formatação do popup de Sucesso*/

.sucesso-card-wide.mdl-card {
  margin-left: 10px;
  width: 400px;
  position: absolute;
  opacity: 0.8;
  transition: 0.5s;
  z-index: 100;;

}

.sucesso-card-wide.mdl-card:hover {

  opacity: 1;
  transition: 0.5s;

}

.sucesso-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: #228B22;
}

.sucesso-card-wide > .mdl-card__menu {
  color: #fff;
}

/*Formatação do popup de Sucesso*/

/*Personalizando icones Google*/

.material-icons.md-48 { font-size: 48px; }

.material-icons.md-100 { font-size: 100px; }

.material-icons.SteelBlue { color: #4682B4; }

/*Personalizando icones Google*/

#aviso_de_erro {
  top: 0px;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
  background-color: red;
  box-shadow: 2px 2px 2px black;
  width: auto;
  color: white;
  position: absolute;
}

#erro_email {
  padding: 10px;
  margin-bottom: 5px;
}

.menu-superior {
  margin-right: 10px;
}

/*Usado para aparencia dos campos select*/

.mdl-select {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;
}

.mdl-select__input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 16px;
  text-align: left;
  color: inherit;
}

.mdl-select.is-focused .mdl-select__input { outline: none; }
.mdl-select.is-invalid .mdl-select__input { 
  border-color: rgb(222, 50, 38);
    box-shadow: none;
  }

.mdl-select.is-disabled .mdl-select__input {
  background-color: transparent;
  border-bottom: 1px dotted rgba(0,0,0, 0.12);
}

.mdl-select__label {
  bottom: 0;
  color: rgba(0,0,0, 0.26);
  font-size: 16px;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  top: 24px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left; 
}

.mdl-select.is-dirty .mdl-select__label { visibility: hidden; }

.mdl-select--floating-label .mdl-textfield__label {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mdl-select--floating-label.is-focused .mdl-select__label,
.mdl-select--floating-label.is-dirty .mdl-select__label {
  color: rgb(63,81,181);
  font-size: 12px;
  top: 4px;
  visibility: visible;
}

.mdl-select--floating-label.is-focused .mdl-select__expandable-holder .mdl-select__label,
.mdl-select--floating-label.is-dirty .mdl-select__expandable-holder .mdl-select__label {
  top: -16px;
}

.mdl-select--floating-label.is-invalid .mdl-select__label {
  color: rgb(222, 50, 38);
  font-size: 12px;
}

.mdl-select__label:after {
  background-color: rgb(63,81,181);
  bottom: 20px;
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: 10px;
}

.mdl-select.is-focused .mdl-select__label:after {
  left: 0;
  visibility: visible;
  width: 100%; 
}

.mdl-select.is-invalid .mdl-select__label:after {
  background-color: rgb(222, 50, 38); 
}

.mdl-select__error {
  color: rgb(222, 50, 38);
  position: absolute;
  font-size: 12px;
  margin-top: 3px;
  visibility: hidden;
}

.mdl-select.is-invalid .mdl-select__error {
  visibility: visible;
}

.mdl-select__expandable-holder {
  display: inline-block;
  position: relative;
  margin-left: 32px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  max-width: 0.1px; 
}

.mdl-select.is-focused .mdl-select__expandable-holder, .mdl-select.is-dirty .mdl-select__expandable-holder {
  max-width: 600px; 
}

.mdl-select__expandable-holder .mdl-select__label:after {
  bottom: 0;
}

.mdl-switch{

margin-top: 50px;

}

.dialog-container,
.loading-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.dialog-container > div {
    position: relative;
    width: 90%;
    max-width: 500px;
    min-height: 25px;
    margin: 10% auto;
    z-index: 99999;
    padding: 16px 16px 0;
}

.dialog-button-bar {
    text-align: right;
    margin-top: 8px;
}

.loading-container > div {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10% auto;
    z-index: 99999;
}

.loading-container > div > div {
    width: 100%;
    height: 100%;
}