#caixaLogin {
    width:400px;
    height:385px;
    margin-right: auto;
    margin-left: -200px; /* metade da largura */
    margin-top: -200px; /* metade da altura */
    position: absolute;
    top: 50%;
    left: 50%;
    opacity:0.99;

}


#navegador {

  position:absolute;
  float:left;
  bottom:0;
  color: white;

}

body {
  background-image: url(../imagens/bkg_promotor.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}

.mdl-textfield__input{
  background-color: white !important;
  border-radius: 5px;
  width: 400px;
  height: 30px;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 160%;
  padding-left: 10px;
}

#user {
    background-image: url(../imagens/user.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 5px;
    background-origin: content-box;
}

#pass {
    background-image: url(../imagens/pass.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 5px;
    background-origin: content-box;
}

#esqueceuSenha  {
  text-decoration: none;
  color: #ffffff; 
  font-size: 120%;
  margin-left: 80px;
  margin-top: 40px;
}


#button {
  margin-top: 10px;
  width: 100px;
  background-color: #118049;
  color: white;
  font-size: 120%;
}

#nome, #versao {
  margin: 0;
  padding-top:0;
  font-style: italic;
  color: #fff;
}

#versao {
  text-align: right;
}

#img {
  
  position:relative;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 37.5%;
  margin-right: 35%;
}

#login {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 30px;
}

#aviso {
  position: relative;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: -10px;
  font-size: 15px;
  color: red;
}

/*Formatação do popup de erro*/
.erro-card-wide.mdl-card {
  margin-left: 10px;
  width: 400px;
  opacity: 0.8;
  transition: 0.5s;

    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
    animation-duration: 500ms;

}

.erro-card-wide.mdl-card:hover {

  opacity: 1;
  transition: 0.5s;

}

.erro-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: #FF6347;
}

.erro-card-wide > .mdl-card__menu {
  color: #fff;
}

/*Formatação do popup de erro*/

/*Formatação do popup de Aviso*/

.aviso-card-wide.mdl-card {
  margin-left: 10px;
  width: 400px;
  opacity: 0.8;
  transition: 0.5s;

}

.aviso-card-wide.mdl-card:hover {

  opacity: 1;
  transition: 0.5s;

}

.aviso-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: #DAA520;
}

.aviso-card-wide > .mdl-card__menu {
  color: #fff;
}

/*Formatação do popup de Aviso*/

/*Formatação do popup de Sucesso*/

.sucesso-card-wide.mdl-card {
  margin-left: 10px;
  width: 400px;
  opacity: 0.8;
  transition: 0.5s;

}

.sucesso-card-wide.mdl-card:hover {

  opacity: 1;
  transition: 0.5s;

}

.sucesso-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  background-color: #228B22;
}

.sucesso-card-wide > .mdl-card__menu {
  color: #fff;
}

/*Formatação do popup de Sucesso*/


/*Personalizando icones Google*/

.material-icons.md-48 { font-size: 48px; }

.material-icons.md-100 { font-size: 100px; }

.material-icons.SteelBlue { color: #4682B4; }

/*Personalizando icones Google*/